:root {
	--costum_border: 1px solid white;
	--my_shadow_box: 0px 1px 4px black;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background: rgb(240, 240, 245);
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 2px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;

}

.header {
	background: brown;
	width: 100%;
	height: 30px;
	padding: 14px 0px 14px 0px;
	margin: 0px 0px 10px 0px;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.left-header {
	background: transparent;
	width: calc(50% - 400px);
	height: 100%;
	padding: 10px 0px 10px 0px;
}

.square-three-lines {
	width: 24px;
	height: 21px;
	float: right;
	margin: 6px 15px 0px 0px;
	cursor: pointer;
}

.line-one {
	background: white;
	width: 100%;
	height: 3px;
	margin-bottom: 5px;
}

.line-two {
	background: white;
	width: 100%;
	height: 3px;
	margin-bottom: 5px;
}

.line-three {
	background: white;
	width: 100%;
	height: 3px;
	margin-bottom: 5px;
}

.center-header {
	background: auto;
	width: 800px;
	height: 100%;
	margin: auto;
}

.right-header {
	background-color: auto;
	width: calc(50% - 400px);
	height: 100%;
	padding: 10px 0px 10px 0px;
}

.link-main-at-page {
	float: left;
	text-decoration: none;
	color: white;
	font-size: 26px;
	letter-spacing: 3px;
	text-shadow: 0px 2px 2px #000;
}

.a-link-sign-in-state-unregistered {
	cursor: pointer;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 8px 12px 6px 12px;
	letter-spacing: 4px;
	font-size: 18px;
	float: right;
	position: relative;
	top: -4px;
	left: 3px;
}

.a-link-sign-in-state-unregistered:hover {
	background: rgb(150, 0, 20);
	border: 1px solid orange;
	color: orange;
	box-shadow: 0px 0px 2px yellow;
}

.btn-profile-user-name {
	cursor: pointer;
	background-color: transparent;
	border: none; 
	float: right;
	color: white;
	text-shadow: 0px 2px 2px black;
	position: relative;
	top: 2px;
	right: 10px;
	font-size: 26px;
	letter-spacing: 2px;
}

.btn-profile-user-name:hover {
	cursor: pointer;
	text-decoration: underline;
}

.img-user-avatar {
	width: 50px;
	float: right;
	border-radius: 50%;
	position: relative;
	top: -12px;
	border: 2px solid white;
	cursor: pointer;
}

/*.sign-in {
	background-color: red;
	width: 200px;
	height: 300px;
	float: right;
}*/