
:root {
	--beautiful-blue: rgb(55, 55, 70);
}

* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: rgb(240, 240, 245);
	background-repeat: no-repeat;
	background-attachment: fixed;
 	background-position: top;
	font-family: 'Roboto', sans-serif;
}

.header {
	background: rgb(80, 80, 80);
	width: 100%;
	height: 30px;
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 10px 0px;
	box-shadow: 0px 1px 5px #000;
}

#link-main-at-page {
	float: left;
	text-decoration: none;
	color: white;
	font-size: 25px;
	letter-spacing: 3px;
	text-shadow: 0px 2px 1px #000;
}

.align-header {
	background: auto;
	width: 800px;
	height: auto;
	margin: auto;
}

.reg_wall {
	background-color: white;
	width: 800px;
	height: 510px;
	margin: 0px auto 0px auto;
	border: 1px solid #000;
}

.head-at-reg {
	background: white;
	width: 800px;
	height: 30px;
	margin: 10px auto 10px auto;
	border: 1px solid #000;
}

.head-at-reg-left {
	width: 50%;
	height: 100%;
}

#title-at-registration {
	margin-top: 3px;
	color: rgb(0, 180, 0);
	letter-spacing: 1px;
}

.reg-form {
	width: 400px;
	height: 500px;
	background: pink;
	margin: auto;
}

.wp_test {
	background: white;
	width: var(--width-block);
	height: 1200px;
	margin: 0px auto 0px auto;
}

.nav-wrap {
	background: auto;
	width: 800px;
	height: auto;
	margin: auto;
}

.wrapper {
  background-color: white;
  list-style-type: none;
  padding: 0;
  border: 1px solid black;
}

.form-row {
	width: 600px;
	display: flex;
	justify-content: flex-end;
	padding: .6em;
}

.form-row > label {
	padding: .5em 1em .5em 0;
	padding: 14px 0px 14px 0px;
	flex: 1;
}

.form-row > input {
	flex: 2;
}

.form-row > input,
.form-row > button {
	padding: .5em;
	font-size: 17px;
}

.form-row > button {
  background: green;
  color: white;
  border: 0 solid #000;
  position: relative;
  left: -267px;
  padding: 10px 40px 10px 40px;
  letter-spacing: 1px;
  font-size: 19px;
  text-shadow: 0px 1px 0px black;
}

#align-form-row-right {
	position: relative;
	left: 203px;
}

.basement {
	background: gold;
	color: yellow;
	width: 800px;
	height: 50px;
	margin: 10px auto 10px auto;
	border: 1px solid black;
}