.user-settings {
	display: none;
	background-color: pink;
	width: 140px;
	height: 240px;
	float: right;
	position: relative;
	top: 45px;
	padding: 20px 20px 20px 20px;
	line-height: 30px;
	border : 2px solid black;
}

.nav-user-settings {}

.ul-user-settings {
	list-style-type: none;
}

.li-user-settings {}

.a-li-user-settings {}