
.wp-blog {
	background: auto;
	width: 800px;
	min-height: auto;
	margin: auto;

}

.bg-name-at-article {
	background: auto;
	padding: 10px 10px 0px 20px;
	text-transform: uppercase;
}

#name-at-article {
	display: inline-block;
	font-size: 22px;
	color: rgb(0, 180, 0);
	text-decoration: none;
	padding: 10px 10px 0px 10px;

}

#name-at-article:hover {
	color: orange;
	text-shadow: none;
}

.post {
	display: inline-block;
	border: 2px solid black;
	background: white;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 10px 0px 10px 0px;
	text-align: justify;
}

.mini-description {
	padding: 10px 30px 10px 30px;
	font-size: 22px;
}

.lower-mini-description {
	padding: 10px 0px 10px 0px;
	width: auto;
	height: auto;
	float: right;
}

.addition-information {
	padding: 10px 0px 10px 0px;
	height: 30px;
	width: 100%;
}

.addition-information-1 {
	background: green;
	color: white;
	text-decoration: none; 
	padding: 7px 10px 5px 10px;
	float: right;
	margin-right: 10px;
	border: 1px solid darkgreen;
	font-size: 18px;
}

.addition-information-2 {
	background: orange;
	color: brown;
	text-decoration: none; 
	padding: 7px 10px 5px 10px;
	float: right;
	border: 1px solid brown;
	font-size: 18px;
}

.addition-information-1:hover {
	background: rgb(000, 190, 000);
}

.addition-information-2:hover {
	background: yellow;
}

#hideline-views {
	width: 200px;
	height: 26px;
	padding: 6px 0px 6px 0px;
	float: left;
}
