/* file: wp-contacts.css */

.wp-contacts {
	margin-top: 20px;
	background-color: white;
	width: 720px;
	height: 300px;
	margin: auto;
	padding: 10px 40px 10px 40px;
	border: 2px solid black;
}

a {
	text-decoration: none;
	color: blue;
}