
.wallpaper-categories-page {
	background: white;
	width: 800px;
	height: auto;
	margin: 10px auto 10px auto;
	border: 1px solid black;
}

.align-wallpaper-categories-page {
	background: pink;
	width: auto;
	height: auto;
	margin: auto;
}

.nav-wall-categories {}

.ul-wall-categories {}

.li-wall-categories {
	cursor: pointer;
	text-align: center;
	display: inline-block;
	width: 234px;
	height: 300px;
	border: 1px solid #000; 
	transition: width 1s;
	color: black;
}

.li-wall-categories:hover {
	background: red;
	color: yellow;
}

.a-link-wall-categories {
	color: blue;
	text-decoration: none;
}

.a-link-wall-categories:hover {

	color: yellow;
}

a {
	color: blue;
}*/