a {
	text-decoration: none;
	color: blue;
}

.wallpaper {}

.main-table {
	background: white;
	width: 800px;
	height: auto;
	margin: 10px auto 10px auto;
	border: 2px solid black;
}

.align-table {
	width: 100%;
	height: auto;
}

tr {}

.tr-table-fields-rows {
	font-size: 24px;
	background-color: orange;
	padding: 4px 8px 4px 8px;
}

.td-table-columns {
	background-color: white;
	font-family: "Verdana";
	padding: 12px 4px 12px 4px;
	border: 1px solid grey; 
}