
.wp-faq {
	background-color: white;
	width: 740px;
	height: auto;
	margin: 10px auto 10px auto;
	padding: 10px 30px 10px 30px;
	border: 2px solid black; 
}

.post {}

.h4-name-at-article {}

.a-link-name-at-article {
	text-decoration: none;
	color: green;
}

.a-link-name-at-article:hover {
	color: green;
}