
.wp-languages {
	background-color: white;
	width: 760px;
	height: 100%;
	margin: auto;
	border-radius: 12px;
	border: 2px solid black;
	padding: 20px;
}

.page-languages {
	background-color: white;
	width: 760px;
	padding: 20px;
	border: 2px solid black;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 12px;
}

li {
	list-style: none;
}