.wp-news {
	background: white;
	width: 760px;
	height: 100%;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 2px solid black;
	line-height: 24px;
}

.show-page-news {
	background: white;
	width: 760px;
	height: 100%;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 2px solid black;
}