
html
	head
		title Blog: Nicolai Cushnir
		link(rel="stylesheet" href="check.js")
		script(src="check.js")
	body
		.header
			.align-header

		nav.nav-main-menu
		    ul.ul-main-menu
		        a.link-main-menu(href='#')
		            li.li-main-menu
		                | Return Home
		        | &#x9;&#x9;
		        | &#x9;&#x9;
		        a.link-main-menu(href='#')
		            li.li-left-list
		                | See History

		.wallpaper
			p Here ia wallpaper paragraph.

		.basement
			p But here is basement paragraph