root:: {

}

* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #eee;
}

.header {
	background-color: brown;
	color: white;
	text-shadow: 1px 2px 2px black;
	width: auto;
	height: 30px;
	margin: 0px auto 10px auto;
	padding: 10px 0px 10px 0px;
}

.align-header {
	background-color: transparent;
	width: 800px;
	height: 100%;
	margin: auto;
	font-family: "Calibri";
	font-size: 20px;
}

.main-menu {
	background-color: lightgreen;
	width: 800px;
	height: 20px;
	margin: 0px auto 10px auto;
	padding: 0px 0px 0px 0px;
}

.wallpaper {
	background-color: yellow;
	width: 800px;
	height: 500px;
	margin: auto;
}

.basement {
	background-color: white;
	width: 800px;
	height: 20px;
	margin: auto;
	margin-top: 10px;
}