
.wp-post {
	background: white;
	width: 800px;
	height: auto;
	margin: auto;
	padding: 0px 0px 0px 0px;
	/*border: 2px solid black;*/
}

.name-at-article {
	padding: 10px 0px 0px 0px;
	font-size: 20px;
	letter-spacing: 2px;
	color: rgb(0, 180, 0);
}

.h3-bg-name-at-article {}

#id-name-at-article {}

.post {
	display: inline-block;
	width: 100%;
	height: auto;
	text-align: justify;
}

.post::-webkit-scrollbar {
  display: none;
}

.mini-description {
	padding: 0px 0px 0px 0px;
	line-height: 40px;
	font-size: 24px;
}

.aligned-pargraph {
	text-indent: 30px;
}

.addition-information {
	background: white;
	padding: 0px 0px 0px 0px;
	height: auto;
	text-align: right;
	font-size: 20px;
	float: right;
}

.bookmark {
	color: green;
	float: right;
	position: relative;
	top: 4px;
}

.users-comments {
	background: white;
	height: auto;
	width: 740px;
	margin: auto auto auto auto;
	padding: 0px 29px 0px 29px;
	text-transform: lowercase;
	font-size: 14px;
}

.center-all-comments {
	width: 800px;
	margin: auto;
}

#my-textarea {
	width: 774px;
	height: 20px;
	margin: 10px auto 0px auto;
	padding: 8px 12px 10px 12px;
	font-size: 18px;
	border: none; 
}

/**/

.all-comments {
	background: white;
	display: inline-block;
	width: 800px;
	height: auto;
	margin: 10px auto 10px auto;
	padding: 20px 30px 10px 20px;
	border: 1px solid #ccc;
}

.left-user-block {
	background: auto;
	width: 100px;
	height: 100px;
	float: left;
	margin: 30px 30px 30px 30px;
	border-radius: 50%;
}

.circle {
	display: inline-block;
	background: auto;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.right-user-block {
	display: inline-block;
	padding: 0px 30px 20px 0px;
	color: rgb(70, 70, 70);
	width: 610px;
	line-height: 26px;
	height: auto;
	float: right;
	text-align: justify;
	font-size: 18px;
}

.name-at-user {
	display: inline-block;
	padding: 0px 0px 0px 0px;
	width: 300px;
	height: 20px;
	margin: 30px 0px 0px 0px;
}

.the-comment {
}

#check {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.user {
	
}

