/* Here is file "Sort-Categories",
** for posts from file my-blog.html 
*/

.sort-categories-from-post {
	background: white;
	width: 800px;
	height: auto;
	margin: 10px 0px 10px 0px;
	text-align: justify;
	padding: 0px 0px 0px 0px;
}

.nav-sort-categories-from-post {
	background: auto;
	font-size: 20px;
}

.ul-sort-categories-from-post {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.li-sort-categories-from-post {
	list-style-type: none;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.a-link-sort-categories-from-post {
	text-decoration: none;
	color: black;
}

.li-sort-categories-from-post:hover {
	background: rgb(240, 240, 240);
	cursor: pointer;
}