		<!-- 
		<p>Космос</p>
		<p></p>
		Кто я? и зачем я жыву?
			Душевный покой
			Что меня тревожет?
			Мне трудно что что изучить и понимать. Что то новое
		Поезна не Поезна && Нао не надо
		-->

	<!-- Pagination Begin -->
	<div class="pagination">
		<nav class="nav-pagination">
			<ul class="ul-pagination">		
				<li class="li-pagination" id="id-li-pagination">
					<a class="link-pagination" href="#">01</a>
				</li>
				<li class="li-pagination">
					<a class="link-pagination" href="#">02</a>
				</li>
				<li class="li-pagination">
					<a class="link-pagination" href="#">03</a>
				</li>
				<li class="li-pagination">
					<a class="link-pagination" href="#">04</a>
				</li>
				<li class="li-pagination">
					<a class="link-pagination" href="#">05</a>
				</li>
				<li class="li-pagination">
					<a class="link-pagination" href="#">06</a>
				</li>
				<li class="li-pagination">
					<a class="link-pagination" href="#">07</a>
				</li>
				<li class="li-pagination">
					<a class="link-pagination" href="#">08</a>
				</li>
				<li class="li-pagination">
					<a class="link-pagination" href="#">09</a>
				</li>
				<li class="li-pagination">
					<a class="link-pagination" href="#">10</a>
				</li>
			</ul>
		</nav>
	</div>
	<!-- Pagination End -->