
.main-menu {
	background-color: brown;
	width: 800px;
	height: auto;
	margin: auto;
	padding: 8px 0px 8px 0px;
	text-align: center;
	border: 2px solid black;
	border-radius: 14px;
}

.nav-main-menu {}

.ul-main-menu {}

.li-main-menu {
	list-style-type: none;
	display: inline-block;
	border: 2px solid black;
	background: rgb(150, 0, 20);
}

.a-link-main-menu {
	text-decoration: none;
	font-size: 22px;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
}

.li-main-menu, .a-link-main-menu {
	padding: 8px 12px 6px 12px;
	border-radius: 14px;
	margin-right: 3px;
}

.li-main-menu:hover {
	background: orange;
	background: rgb(190, 10, 10);
}

