* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #eee;
	font-family: "Calibri";
}

a {
	text-decoration: none;
}

.admin-header {
	background: black;
	width: 100%;
	height: 30px;
	padding: 10px 0px 10px 0px;
}

.admin-left-menu {
	background-color: pink;
	position: fixed;
	top: 50px;
	z-index: 1;
	width: 200px;
	height: 100%;
}

.a-link-admin-left-menu {
	font-size: 24px;
}

.h5-admin-panel {
	color: white;
	text-align: center;
}