
* {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url('../img/chery.png');
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
	background-color: #eee;
	font-family: "Verdana";
}

.main-block {
	background: white;
	width: 280px;
	height: auto;
	text-align: center;
	margin: auto;
	border-radius: 20px;
	padding: 10px 20px;
	border: 1px solid black; 
}

.h2_con_to_adm {
	padding-top: 10px;
	padding-bottom: 10px;
	color: green;
	font-family: 'Poor Story', system-ui;
	letter-spacing: 1px;
	font-size: 34px;
}

.text_con_adm {
	float: left;
	margin-left: 18px;
	margin-bottom: 6px;
	font-size: 24px;
}

.inp_con_adm {
	width: 200px;
	padding: 6px 10px 6px 10px;
	font-size: 24px;
	margin-bottom: 14px;
	letter-spacing: 1px;
}

#btn-submit {
	margin: 10px 0px;
	padding: 4px 12px 4px 12px;
}

.a-link-forgot_pass {
	font-size: 24px;
	text-decoration: none;
}

.return-main-page {
	background-color: lightyellow;
	width: 240px;
	height: auto;
	margin: 20px auto;
	text-align: center;
	border-radius: 20px;
	border: 1px solid black;
	padding: 8px 20px 11px 20px;
}

.a_link_return_main_page {
	text-decoration: none;
	font-size: 24px;
	color: brown;
}