
.image-home {
	background-image: url("../img/upAQeZ.png");
	background-repeat: no-repeat;
	background-color: white;
	background-size: 1200px auto;
	width: 800px;
	height: 340px;
	border: 2px solid black;
	margin: auto auto 10px auto;
}