
.basement {
	text-transform: uppercase;
	background: brown;
	height: auto;
	width: 800px;
	margin: 10px auto 10px auto;
	padding: 10px 0px 10px 0px;
	border: 2px solid black;
	text-align: center;
	font-size: 18px;

}

.li-basement {
	display: inline;
}

.link-basement {
	text-decoration: none;
	color: white;
	margin-right: 20px;
	text-shadow: 1px 1px 1px black;
}

.link-basement:hover {
	color: orange;
}

/* Bellow is: Hide Login and Password from Up */
.zaraza {
	background: red;
}

#logger {
	display: none;
	background: transparent;
	width: 100%;
	height: auto;
	position: relative;
	top: 0px;
}

.align-logger {
	width: 800px;
	height: auto;
	margin: auto;
	padding: 2px 0px 2px 0px;
}

.input-change-size {
	font-size: 18px;
	letter-spacing: 2px;
	padding: 4px 8px 4px 8px;
}

#input-change-button {
	cursor: pointer;
	background: white;
	letter-spacing: 2px;
	padding: 5px 10px 5px 10px;
	border: 1px solid grey;
}

#sign_up {
	float: right;
	text-decoration: none;
	color: black;
	letter-spacing: 2px;
	margin: 4px 0px 0px 0px;
}

.icons {
	width: 20px;
	color: black;
}

