
.left-list {
	background: white;
	width: 248px;
	height: auto;
	margin: 0px 10px 0px 10px;
	float: left;
	border: 2px solid black;
}

.nav-left-list {}

.ul-left-list {}

.li-left-list {
	list-style-type: none;
	border-bottom: 1px solid grey;
	padding: 10px 20px 8px 10px;
	cursor: pointer;
}

/* hover la background */
.li-left-list:hover {
	background: #eee;
}

/* culoarea pentru icons */
.li-left-list:hover .icons {
	color: #222;
}

.a-link-left-list {
	text-decoration: none;
	color: black;
	font-size: 22px;
}

/* Pentru Text */
.li-left-list:hover .a-link-left-list {
	color: black;
}

.hyper-sort-article {
	background: brown;
	color: white;
	letter-spacing: 2px;
	text-align: left;
	padding: 12px 0px 10px 20px;
	cursor: pointer;
	text-transform: uppercase;
	text-shadow: 0px 2px 1px black;
	border-bottom: 1px solid black;
}